#ROEQP-changelog .data {
    display: none;
}

#ROEQP-controls {
    border-bottom-color: rgb(118, 118, 118);
    margin-bottom: 10px;
}

#ROEQP-controls:before, #ROEQP-controls:after {
    content: "";
    clear: both;
    display: block;
}

.ROEQP-control {
    float: left;
    position: relative;
    margin-right: 20px;
}

.ROEQP-invt {
    float: left;
    position: relative;
    margin: 10px;
}

.ROEQP-invt-flex {
    float: left;
    position: relative;
}

/****************************************************************************
 ROEQP-invt-smpl
****************************************************************************/
.ROEQP-invt-smpl {
    width: 450px;
    z-index: 210;
}

/****************************************************************************
 ROEQP-invt-bars
****************************************************************************/
.ROEQP-invt-bars {
    float: left;
    position: relative;
    width: 450px;
    z-index: 210;
}

.ROEQP-invt-bars .label {
    width: 100px;
    white-space: nowrap;
    overflow-x: hidden;
}

.ROEQP-invt-bars .progress {
    width: 290px;
}

.ROEQP-invt-bars .percent {
    width: 50px;
    white-space: nowrap;
}

.ROEQP-invt-bars div.progress {
    width: 100%;
    height: 15px;
    background-color:#ececec;
    position:relative;
    border-radius:2px;
    overflow: hidden;
}

.ROEQP-invt-bars div.progress > div.bar {
    position:absolute;
    height:100%;
    background-color:#fff;
}

.ROEQP-invt-bars .rank-100 div.progress  {
    border: 1px #999 solid;
}
.ROEQP-invt-bars .rank-100 div.progress > div.bar {
    background: linear-gradient(-45deg, #F7DE05, #DA8E00, #EDAC06, #F7DE05, #ECB802, #DAAF08, #B67B03, #DA8E00, #EDAC06, #F7DE05, #ECB802, #EDAC06);
}
.ROEQP-invt-bars .rank-75 div.progress > div.bar {
    background-color: #8dca2e;    
}
.ROEQP-invt-bars .rank-50 div.progress > div.bar {
    background-color: #9eb4e5;
}
.ROEQP-invt-bars .rank-25 div.progress > div.bar {
    background-color: #999;
}
.ROEQP-invt-bars .rank-0 div.progress > div.bar {
    background-color: #e2878f;
}

.ROEQP-invt-bars table {
    border-collapse:collapse
}

.ROEQP-invt-bars tr.diff-del {
    background-color: #ffd7d5;
}

.ROEQP-invt-bars tr.diff-add {
    background-color: #ccffd8;
}

/****************************************************************************
 ROEQP-invt-form
****************************************************************************/
.ROEQP-invt-form {
    float: left;
    position: relative;
    width: 450px;
    z-index: 200;
}

.ROEQP-invt-form textarea {
    display: block;
    overflow-x: hidden;
}
.ROEQP-invt-form ::placeholder {
    color: #aaa;
}

.ROEQP-invt-form button {
    display: inline-block;
}

/****************************************************************************
 ROEQP-invt-view 
****************************************************************************/
.ROEQP-invt-view {
    float: left;
    position: relative;
    width: 450px;
    z-index: 100;

    border-style: solid;
    border-width: 1px;
    border-color: rgb(118, 118, 118);
    overflow-y: clip;
}

/****************************************************************************
 ROEQP-invt-view-default 
****************************************************************************/
.ROEQP-invt-view-default .view {
    position: relative;
    width: 450px;
    height: 500px;
}

.ROEQP-invt-view-default .grid {
    position: absolute;
    width: 225px;
    height: 100px;
}

.ROEQP-invt-view-default .grid-0 { top:   0px; left:   0px; }
.ROEQP-invt-view-default .grid-1 { top:   0px; left: 225px; }
.ROEQP-invt-view-default .grid-2 { top: 100px; left:   0px; }
.ROEQP-invt-view-default .grid-3 { top: 100px; left: 225px; }
.ROEQP-invt-view-default .grid-4 { top: 200px; left:   0px; }
.ROEQP-invt-view-default .grid-5 { top: 200px; left: 225px; }
.ROEQP-invt-view-default .grid-6 { top: 300px; left:   0px; }
.ROEQP-invt-view-default .grid-7 { top: 300px; left: 225px; }
.ROEQP-invt-view-default .grid-8 { top: 400px; left:   0px; }
.ROEQP-invt-view-default .grid-9 { top: 400px; left: 225px; }

.ROEQP-invt-view-default .grid img.icon {
    display: block;
    position: absolute;
}

.ROEQP-invt-view-default .grid-0 > img.icon,
.ROEQP-invt-view-default .grid-2 > img.icon,
.ROEQP-invt-view-default .grid-4 > img.icon,
.ROEQP-invt-view-default .grid-6 > img.icon,
.ROEQP-invt-view-default .grid-8 > img.icon {
    left: 0;
}

.ROEQP-invt-view-default .grid-1 > img.icon,
.ROEQP-invt-view-default .grid-3 > img.icon,
.ROEQP-invt-view-default .grid-5 > img.icon,
.ROEQP-invt-view-default .grid-7 > img.icon,
.ROEQP-invt-view-default .grid-9 > img.icon {
    right: 0;
}

.ROEQP-invt-view-default .grid > .name {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 135px;
    padding: 15px;
    line-height: 1.6;
    color: #01aaed;
    overflow-x: auto;
    white-space: inherit;
    z-index: 200;
}

.ROEQP-invt-view-default .grid-0 > .name,
.ROEQP-invt-view-default .grid-2 > .name,
.ROEQP-invt-view-default .grid-4 > .name,
.ROEQP-invt-view-default .grid-6 > .name,
.ROEQP-invt-view-default .grid-8 > .name {
    left: 70px;
}

.ROEQP-invt-view-default .grid-1 > .name,
.ROEQP-invt-view-default .grid-3 > .name,
.ROEQP-invt-view-default .grid-5 > .name,
.ROEQP-invt-view-default .grid-7 > .name,
.ROEQP-invt-view-default .grid-9 > .name {
    left: 0;
}

/****************************************************************************
 ROEQP-invt-view-real 
****************************************************************************/
.ROEQP-invt-view-real .view {
    position: relative;
    width: 450px;
    height: 500px;
    z-index: 100;
}

.ROEQP-invt-view-real .grid {
    position: absolute;
    width: 150px;
    height: 150px;
    border: dashed red;
    border-width: 0;
}

.ROEQP-invt-view-real .grid img.icon {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 100%;
}

.ROEQP-invt-view-real .grid-0 {  /* 頭上段 */
    top:  0px;
    left: 150px;
    z-index: 101;
}
.ROEQP-invt-view-real .grid-0 img.icon {
    top: 25%;
    height: 120%;
}

.ROEQP-invt-view-real .grid-1 {  /* 頭中段 */
    top: 30px;
    left: 270px;
    height: 110px;
    z-index: 102;
}
.ROEQP-invt-view-real .grid-1 img.icon {
    top: 15%;
    height: 90%;
}

.ROEQP-invt-view-real .grid-2 {  /* 頭下段 */
    top: 30px;
    left: 35px;
    height: 110px;
    z-index: 102;
}    
.ROEQP-invt-view-real .grid-2 img.icon {
    top: 15%;
    height: 90%;
}

.ROEQP-invt-view-real .grid-3 {  /* 鎧 */
    top: 160px;
    left: 125px;
    width: 200px;
    height: 200px;
    z-index: 104;
}

.ROEQP-invt-view-real .grid-4 {  /* 右手 */ 
    top: 140px;
    left: 0px;
    z-index: 103;
}
.ROEQP-invt-view-real .grid-4 img.icon {
    top: 15%;
}

.ROEQP-invt-view-real .grid-5 {  /* 左手 */
    top: 140px;
    left: 300px;
    z-index: 103;
}
.ROEQP-invt-view-real .grid-5 img.icon {
    top: 15%;
}

.ROEQP-invt-view-real .grid-6 {  /* 肩 */
    top: 300px;
    left: 0px;
    z-index: 105;
}

.ROEQP-invt-view-real .grid-7 {  /* 足 */
    top: 340px;
    left: 150px;
    z-index: 106;
}
.ROEQP-invt-view-real .grid-7 img.icon {
    top: 0;
}

.ROEQP-invt-view-real .grid-8 {  /* アクセ1 */
    top:  300px;
    left: 300px;
    height: 110px;
    z-index: 105;
}
.ROEQP-invt-view-real .grid-8 img.icon {
    height: 90%;
}

.ROEQP-invt-view-real .grid-9 {  /* アクセ2 */
    top:  390px;
    left: 300px;
    height: 110px;
    z-index: 108;
}
.ROEQP-invt-view-real .grid-9 img.icon {
    height: 90%;
}

.ROEQP-invt-view-real .grid > .name {
    display: block;
    position: absolute;
    text-align: center;
    line-height: 1.6;
    color: #01aaed;
    width: 200%;
    margin-left: -50%;
    overflow-x: auto;
    white-space: nowrap;
    z-index: 200;
}

div.copyright {
    clear: both;
}
div.copyright p {
    margin: 0 5px;
    line-height: 1.5;
}
